# dependencies
node_modules/
.pnp
.pnp.js

# package manager
.pnpm-store/

# testing
coverage/
.nyc_output/

# next.js
.next/
out/
build/
.vercel/
next-env.d.ts
*.tsbuildinfo

# production
dist/

# env files
.env
.env.*
!.env.example

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# prisma
prisma/dev.db
prisma/dev.db-journal

# system files
.DS_Store
Thumbs.db

# editor
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/

# misc
*.pem
*.key
*.local
